<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allofgist.dell.allofgistlite"
    android:versionCode="3"
    android:versionName="1.2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 진동알람 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/gist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.allofgist.dell.allofgistlite.AnonymousForumActivity_Search" /> <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/alarm_white" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" /> <!-- [END fcm_default_icon] -->
        <activity android:name="com.allofgist.dell.allofgistlite.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.allofgist.dell.allofgistlite.Tutorial" />
        <activity android:name="com.allofgist.dell.allofgistlite.MainActivity" />
        <activity android:name="com.allofgist.dell.allofgistlite.AcademicCalendarActivity" />
        <activity android:name="com.allofgist.dell.allofgistlite.FoodDiary" />
        <activity android:name="com.allofgist.dell.allofgistlite.web_interface" />
        <activity android:name="com.allofgist.dell.allofgistlite.CalendarMain" />
        <activity android:name="com.allofgist.dell.allofgistlite.SignupActivity" />
        <activity android:name="com.allofgist.dell.allofgistlite.AllsiteActivity" />
        <activity android:name="com.allofgist.dell.allofgistlite.FavoriteSettingActivity" />

        <service
            android:name="com.allofgist.dell.allofgistlite.FirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.allofgist.dell.allofgistlite.NotificationReceiver" />
        <activity android:name="com.allofgist.dell.allofgistlite.AnonymousForumActivity_Preview" />
        <activity android:name="com.allofgist.dell.allofgistlite.AnonymousForumActivity_Write" />
        <activity android:name="com.allofgist.dell.allofgistlite.AnonymousForumActivity_View" />
    </application>

</manifest>