<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allofgist.dell.allofgistlite"
    android:versionCode="8"
    android:versionName="1.4.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 진동알람 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/allofgist_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gist"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllsiteActivity_Search" />
        <activity android:name=".AnonymousForumActivity_Preview_Bestview" />
        <activity android:name=".SchoolMapActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".MyActivity" />

        <receiver android:name=".FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity android:name=".AddCreditCalculator" />
        <activity android:name=".CreditCalculatorAddMain" />
        <activity android:name=".CreditCalculatorMain" />
        <activity android:name=".AnonymousForumActivity_Search" /> <!-- [START fcm_default_icon] -->
        <activity android:name=".StartScreen">
        </activity>
        <activity android:name=".Tutorial" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AcademicCalendarActivity" />
        <activity android:name=".FoodDiary" />
        <activity android:name=".CalendarMain" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".AllsiteActivity" />
        <activity android:name=".FavoriteSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".FavoriteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".AnonymousForumActivity_Preview" />
        <activity android:name=".AnonymousForumActivity_Write" />
        <activity android:name=".AnonymousForumActivity_View" />
    </application>

</manifest>